- study = Study.setup("Acute_Myeloid_Leukemia-TCGA-US")
- organism = study.organism
- $organism = organism
- $gene_index = Organism.identifiers(organism).index(:persist => true, :target => "Ensembl Gene ID")
- def setup_gene(obj, organism = nil)
  - organism ||= $organism
  - genes = Array === obj ? $gene_index.values_at(*obj) : $gene_index[obj.strip]
  - Gene.setup(genes , "Ensembl Gene ID", organism)

.row.help
  .column.small-12
    - significant_genes = setup_gene(%w(AC127391.4-2 CEBPA DNMT3A FLT3 IDH1 IDH2 KRAS NPM1 NRAS PTPN11 RUNX1 TET2 TP53 U2AF1 WT1), organism)
    - oncodrive_genes = setup_gene(%w(CEBPA DNMT3A FLT3 IDH1 KIT KRAS NRAS PHF6 RUNX1 SMC3 TET2 TP53 WT1), organism)
    :markdown

      Acute myeloid leukemia [TCGA]
      =============================

      # Results

      ### Mutation Analysis

      There are 181 samples with exome sequencing. Tables 1 and 2 show the overall
      mutations and mutated genes across the cohort. A mutations is considered
      relevant if it affects a gene, that is, if it potentially alters its protein
      products by introducing non-synonymous consequences or by potentially
      affecting splicing of the transcripts.

      Mutations          | 
      ---                | ---
      All Mutations      | [3492](http://se.bioinfo.cnio.es/entity_list/GenomicMutation/All%20mutations%20in%20Acute_Myeloid_Leukemia-TCGA-US)
      Relevant Mutations | [2354](http://se.bioinfo.cnio.es/entity_list/GenomicMutation/Relevant%20mutations%20in%20Acute_Myeloid_Leukemia-TCGA-US)
      Damaging Mutations | [1622](http://se.bioinfo.cnio.es/entity_list/GenomicMutation/Damaging%20mutations%20in%20Acute_Myeloid_Leukemia-TCGA-US)

      Genes                 | 
      ---                   | ---
      All Overlapping Genes | [2527](http://se.bioinfo.cnio.es/entity_list/Gene:Ensembl%20Gene%20ID/All%20overlapping%20genes%20in%20Acute_Myeloid_Leukemia-TCGA-US)
      Affected genes        | [1749](http://se.bioinfo.cnio.es/entity_list/Gene:Ensembl%20Gene%20ID/Affected%20genes%20in%20Acute_Myeloid_Leukemia-TCGA-US)
      Damaged genes         | [1235](http://se.bioinfo.cnio.es/entity_list/Gene:Ensembl%20Gene%20ID/Damaged%20genes%20in%20Acute_Myeloid_Leukemia-TCGA-US)
      Recurrent genes       | [235](http://se.bioinfo.cnio.es/entity_list/Gene:Ensembl%20Gene%20ID/Recurrent%20genes%20in%20Acute_Myeloid_Leukemia-TCGA-US)

      There are 15 genes significantly mutated (p-value &lt; 0.0001), using a
      binomial test and considering only the exon bases and relevant mutations;
      these are: #{significant_genes.link * ", "}.  An alternative analysis
      using Oncodrive, calculated with the SIFT and MutationAssessor scores
      renders 13: #{oncodrive_genes.link * ", "} .  In common are:
      #{significant_genes.subset(oncodrive_genes).link * "; "}. 

      Most notably NPM1 is missing in the Oncodrive results. This seems to be
      due to the fact that out of the 53 mutations overlapping that gene in the
      cohort, only two are predicted damaging. Most of these 53 mutations are
      indels, and neither our code for SIFT or MutationAssessor renders
      predictions for indels.

      Taking both results, ranking the genes by p-value and doing a
      Rank-Product analysis renders there as the top mutated genes as in Table
      3, which identifies NPM1 as the most significant one.

         
      Table 3 Rank products. The log rank is the log of the product of the rank
      divided by the number of elements of the element in each list. Smaller is
      better.  

      Table 3 Rank products. The log rank is the log of the product of the rank
      divided by the number of elements of the element in each list. Smaller is
      better.

      Gene | Log rank-product
      --- | ---
      #{setup_gene("NPM1  ").link} | -7.7424
      #{setup_gene("FLT3  ").link} | -6.3561
      #{setup_gene("DNMT3A").link} | -5.5451
      #{setup_gene("IDH2  ").link} | -4.9698
      #{setup_gene("IDH1  ").link} | -4.5235
      #{setup_gene("NRAS  ").link} | -4.1588
      #{setup_gene("TP53  ").link} | -3.8505
      #{setup_gene("WT1   ").link} | -3.5835
      #{setup_gene("RUNX1 ").link} | -3.3479
      #{setup_gene("U2AF1 ").link} | -3.1372
      #{setup_gene("KRAS  ").link} | -2.7725
      #{setup_gene("TET2  ").link} | -2.6125
      #{setup_gene("PTPN11").link} | -2.4642
      #{setup_gene("KIT   ").link} | -2.3263

      ### Pathway analysis

      #### Gene overrepresentation

      Pathway enrichment analysis of the different lists of genes, affected, damaged
      and recurrent for Nature Cancer Pathways [REF] reveals tenuous signals for
      pathways involved in NOTCH, HDAC, Integrin, and E-cadherin signaling (affected,
      damaged, and recurrent). An analogous analysis for GO biological process terms
      identifies cell-adhesion, ion transport and chromatin modification pathways,
      though the cell-adhesion pathways are not significant considering only the
      recurrent genes (affected, damaged, and recurrent). When considering Pfam
      domains, the most significantly overrepresented are Inmunoglobulin I-set,
      EGF-like, and Laminin (affected, damaged, and recurrent).

      #### Alternative methods: Sample and mutation enrichment

      An alternative to overrepresentation analysis using gene lists, is to consider
      an statistic measuring the number of samples with genes affected by mutations
      in each pathway. Another alternative is to compute the significance of the
      pathway using a binomial test similar to the one used for genes, but
      considering the total number of exome bases on the pathway. Both methods,
      consider multiple mutations on genes, unlike the overrepresentation analysis.

      Such analyses applied over Nature Cancer Pathways reveals several pathways
      dominated by the TP53 and NPM1 mutations, such as BARD1 signaling events,
      Aurora Kinase signaling, but also other pathways related to C-MYC and C-MYB
      transcription network.  NPM1 analysis

      NPM1 is mutations are mostly frameshift insertions, these affect exclusively
      the C-terminal end of the protein (see Figure 1).  This gene is rarely mutated
      in other types of cancer from the ICGC and TCGA collections. Samples with
      mutations in this genes have a distinct gene expression profile, with a very
      significant overexpression of homeobox genes, as noted by (Mullighan et al. and
      Verhaak et al.)

      Mutations in NPM1 have a tendency to co-occur (using a fisher test) with FLT3
      and DNMT3A, and a tendency to not co-occur (using a chis-square test) with
      RUNX1 or TP53. None of these results are statistically significant once
      corrected by multiple testing.


- samples_with_gene_affected = TSV.setup(study.samples_with_gene_affected, :key_field => "Ensembl Gene ID", :fields => ["Sample"], :type => :flat).select(significant_genes)
= partial_render("network_partials/sample_gene_network", :samples_with_gene_affected => samples_with_gene_affected)         




